.App {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 100vh;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
}

.light {
    --clr-fg: #000;
    --clr-bg: #FFF;
    --clr-bg-light: #DDD;
}

.dark {
    --clr-fg: #FFF;
    --clr-bg: #000;
    --clr-bg-light: #222;
}
