.SideBar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: fit-content;
    margin: 4em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.SideBarCard {
    border: var(--foreground-color) solid 2px;
    border-radius: 15px;
    overflow: hidden;
}

.SideBarCard>h3 {
    padding: 0.5em 1em;
    margin: 0;
    text-align: center;
    color: var(--background-color);
    background-color: var(--foreground-color);
}

.SideBarCard>span {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
}
